.article_page {
    max-width:80ch;
    margin-block: 1em;
    margin-inline: auto;
}

.whitePage {
    background-color: white;
    padding: 1em;
}

@media screen and (max-width: 950px) {
    .article_page {
        max-inline-size: 90%;
    }
}

.article_page h1 {
    font-family: "Geologica", sans-serif;
    font-size: 2rem;
    margin-block-end: 0.5em;
    color:var(--colour-qblog-muted-blue)
}

.article_page p{
    margin-bottom:1em;
}

.article_page img {
    margin-inline-end: 1em;
}

.article_page li {
   margin-inline-start: 20px;
}

.article__footer {
    margin-block-start: 1em;
}

@media screen and (max-width: 400px) {
    .article_page img {
        width:100%;
        margin-inline-end: 0dvh;
        margin-block-end: 1em;
    }
    .image_left,
    .image_right {
        float:none;
    }
}