.navigation_container {
    min-block-size: 4rem;
    inline-size: 100%;
    padding: 0.5em;
    gap: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--colour-qblog-dark-grey);
    /* color: var(--colour-white); */
}

.logo_container {
    display: flex;
    align-items: center;
    gap: 0.5em;
    cursor: pointer;
}

.logo_container p {
    font-family: "Geologica";
    color: var(--colour-qblog-soft-grey);
}

.logo_container p:hover {
    color: var(--color-quantimatica-blue);
}

.navbar {
    display: flex;
    list-style-type: none;
    flex-grow: 1;
}

.navbar li Link {
    color: var(--colour-qblog-soft-grey);
}

/* ========= Delete this when ready to display the contact us button ======== */
.contact_us_container {
    display: none;
}
/* ========= End of contect to delete ======== */

.contact_us_container button {
    height: 40px;
    width: 100px;
    font-family: "Oxygen";
    font-weight: 700;
    background-color: hsla(208, 7%, 45%, 1);
    color: white;
    border: none;
    outline: none;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    cursor: pointer;
}

.contact_us_container button:hover {
    background-color: hsla(208, 7%, 45%, 1);
    animation: hoverbutton 0.3s forwards;
    backface-visibility: hidden;
}

@keyframes hoverbutton {
    to {
        scale: 1.05;
        background-color: var(--color-quantimatica-blue);
    }
}